<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Staking Design</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
  <header class="header">
    <div class="header__left">
      <img src="/static/home.svg" alt="Домой" class="icon icon--home" />
    </div>
    <div class="header__right">
      <img src="/static/star.svg" alt="Звезды" class="icon icon--star" />
      <span class="balance">0.001</span>
      <button class="btn btn--withdraw">Вывод</button>
    </div>
  </header>

  <main class="gifts-list">
    <!-- Каждая карточка будет выглядеть так: -->
    <div class="gift-card">
      <img src="/static/gifts/jevil.png" alt="Jevil" class="gift-card__img"/>
      <span class="gift-card__name">Jevil</span>
      <span class="gift-card__price">10</span>
    </div>
    <div class="gift-card">
      <img src="/static/gifts/kawaii.png" alt="Kawaii" class="gift-card__img"/>
      <span class="gift-card__name">Kawaii</span>
      <span class="gift-card__price">10</span>
    </div>
    <div class="gift-card">
      <img src="/static/gifts/ninjell.png" alt="Ninjell" class="gift-card__img"/>
      <span class="gift-card__name">Ninjell</span>
      <span class="gift-card__price">10</span>
    </div>
    <div class="gift-card">
      <img src="/static/gifts/thung_life.png" alt="Thung Life" class="gift-card__img"/>
      <span class="gift-card__name">Thung Life</span>
      <span class="gift-card__price">10</span>
    </div>
    <div class="gift-card">
      <img src="/static/gifts/vampire.png" alt="Vampire" class="gift-card__img"/>
      <span class="gift-card__name">Vampire</span>
      <span class="gift-card__price">10</span>
    </div>
  </main>
</body>
</html>
